<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>ABOUT</h2>
          <p>DarkLab Security was founded with the goal of securing our clients against the constant and evolving threats that are present in an increasingly connected, digital world.<br/>At DarkLab we pride ourselves on providing the highest level of service, continually striving to exceed our clients’ expectations.</p>
        </div>
    </div>
</section>
