<!-- Services Section -->
<section id="services" class="content-section text-center">
    <div class="services-section">
        <div class="container">
          <div class="row">
              <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-center">
                    <h2>SERVICES</h2>
                    <h5 class="section-subheading text-muted">DarkLab Security provides cyber advisory and assurance services based on deep security industry experience and a network of trusted cyber experts. </h5>
                </div>
              <div class="col-md-4 text-center"></div>
            </div>
          <div class="row">
            <div class="col-lg-3 service">
              <h3>Security Testing</h3>
              <p>Penetration Testing (Web, Infrastructure, Mobile)</p>
              <p>Red Team Adversary Emulation</p>
              <p>Phishing Simulation</p>
              <p>Product Evaluation</p>
            </div>
            <div class="col-lg-3 service">
              <h3>Cyber Defence</h3>
              <p>Vulnerability Management</p>
              <p>Application Security</p>
              <p>Risk Assessment</p>
            </div>
            <div class="col-lg-3 service">
              <h3>Training</h3>
              <p>Offensive Security</p>
              <p>Secure Development</p>
              <p>Security Awareness</p>
            </div>
            <div class="col-lg-3 service">
              <h3>Bespoke</h3>
              <p>Cyber advisory, programme development and management, software solutions tailored for your organisation.</p>
            </div>
          </div>
        </div>
    </div>
</section>
